@import '../../.config/waybar/colors.css';

window {
    background-color: rgba(0, 0, 0, 0.5);
}

* {
    background-image: none;
    transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
    box-shadow: none;
}

button {
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border: none;
    margin: 0px;
}

#lock {
    background-color: @on_secondary_fixed;
    background-image: image(url("icons/lock.png"));
    border-radius: 20px 0px 0px 0px;
    margin : 40px 0px 0px 340px;
}

#logout {
    background-color: @primary_container;
    background-image: image(url("icons/logout.png"));
    border-radius: 0px 0px 0px 20px;
    margin : 0px 0px 40px 340px;
}

#reboot {
    background-color: @on_secondary;
    background-image: image(url("icons/reboot.png"));
    border-radius: 0px 20px 0px 0px;
    margin : 40px 340px 0px 0px;
}

#shutdown {
    background-color: @on_secondary_fixed_variant;
    background-image: image(url("icons/shutdown.png"));
    border-radius: 0px 0px 20px 0px;
    margin : 0px 340px 40px 0px;
}

button:hover {
    background-size: 25%;
}

#lock:hover {
    border-radius: 20px 20px 0 20px;
    margin : 30px 0px 0px 330px;
}
#logout:hover {
    border-radius: 20px 0 20px 20px;
    margin : 0px 0px 30px 330px;
}
#reboot:hover {
    border-radius: 20px 20px 20px 0;
    margin : 30px 330px 0px 0px;
}
#shutdown:hover {
    border-radius: 0 20px 20px 20px;
    margin : 0px 330px 30px 0px;
}
